* {
/*border: 1px solid white;
margin: 10px;*/
}
body {
background-color: #000000;
font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin: 0;
}
.name {
	font-size: 72px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 60px;
}
/* selectores de clase */
.titulo {
	font-size: 25px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
/* menu de navegacion */
.nav-bar {
		position: fixed;
}
.nav-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.retornar {
	display: flex;
	align-items: center;
}
.nav-bar a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 10px 15px;
	transition: all 0.3s ease-in-out;
}
.nav-bar a:hover {
color: #42DCA3;
}
.menu {	
	font-size: 20px;
	display: inline-block;
}
.menu li {
	display: inline-block;
}
.menu li a {
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	position: relative;
	transition: all 0.3s ease-in-out;	
}
.menu li a:hover {
color: #42DCA3;
}
/* fin menu navegacion */
/* portada */
.portada {
  text-align: center;
	background-image: url("../img/estrellas.jpg");
	background-size: cover;
	color: white;
	padding: 20px;
	padding-top: 175px;
	padding-bottom: 250px;
}

section {
	background-color: #000000;
	color: #ffffff;
	padding: 50px;
	padding-top: 150px;
	padding-bottom: 150px;
}
/* selector descendente */

article .titulo-b {
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #42DCA3;
	font-size: 25px;
}



/* inicia formulario */
.contacto {
	/*background-color: #000000;*/
	background-image: url("../img/map-image.png");
	color: white;
	font-size: 25px;
	padding-top: 125px;
	padding-bottom: 20px;
}
.contacto p {
	color: #42DCA3;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 25px;
}
form {
  width: 40%;
  border: 1px solid #42DCA3;
  margin: 20px;
  padding: 20px;
  }
label {
  font-size: 12px;
  display: none;
  width: 100%;
  }
input, textarea {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}
input:focus, textarea:focus {
  border: 1px solid #42DCA3;
}
input[type="submit"]{
  margin-bottom: 1px;
  text-transform: uppercase;
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover{
  background: #42DCA3;
  cursor: pointer;
  color: #000000;
}
/* fin formulario */

/* botones redes sociales*/
.list-inline-item a {
	text-decoration: none;
	padding: 5px;
	font-size: 15px;
}
.list-inline-item {
	display: inline-block;
}
.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent; 
}
.btn-default:focus, .btn-default:hover {
    color: black;
    border: 1px solid #42DCA3;
    outline: none;
    background-color: #42DCA3; 
}
ul.banner-social-buttons {
  margin-top: 0; }
/* fin botones redes sociales*/

/* footer copywriter */
.container {
color: #ffffff;
text-align: center;
padding: 10px;
position: bottom;
}
/*fin footer copywriter */